[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = true

[auth.email.template.confirmation]
subject = "Confirmá tu cuenta"
content_path = "./supabase/templates/confirmation.html"

[auth.email.template.recovery]
subject = "Restablecé tu contraseña"
content_path = "./supabase/templates/recovery.html"

[auth.email.template.magic_link]
subject = "Tu magic link"
content_path = "./supabase/templates/magic-link.html"
